div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 2px;
  background-color: teal;
}
.my-ellipse {
  fill: yellow;
  stroke: purple;
  stroke-width: 10;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: helvetica;
    font-size: 11px;
}
